@page "/authors/"
@inherits IndexBase

<h3>Index</h3>
@if (Response.Success == false)
{
    <div class="alert alert-danger">
        <h4>@Response.Message</h4>
    </div>
}
else
{
    @if (Authors == null)
    {


        <div class="alert alert-danger">
            <h4>Loading Data...</h4>
        </div>
    }
    else
    {
        <AuthorizeView Roles="Administrator">
            <a class="btn btn-dark" href="/authors/create"><span class="oi oi-pencil" aria-hidden="true"></span>   Create</a>
        </AuthorizeView>
        <br />
        <AuthorTable Authors ="Authors" TotalSize="TotalSize" OnScroll="LoadAuthors" />
    }
}
